:root {
    --text-color: antiquewhite;
    --background-color: #1c282d;
}

html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Script', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #4b6a78;
}

a:hover { color: #98b2be; }

h1, h2, p, i, address, .text { color: var(--text-color); }

.tm-container-fluid {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}

.tm-site-header { height: 470px; }

.tm-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-solid {
    color: var(--text-color);
    border-style: solid;
}

.text-align-center {
    text-align: center;
}

.tm-about,
.tm-contact {
    display: flex;
}

.tm-contact { flex-direction: row-reverse; }
.tm-about > div { flex: 1 1; }
.tm-login > div { flex: 1 1; }

.tm-contact-form-container {
    width: 100%;
}

.tm-contact-info { padding-top: 20px; }
.tm-contact-header { width: 20%; }

.tm-contact-header {
    padding-left: 50px;
    padding-right: 50px;
}

.tm-contact { padding: 50px 20px; }

.tm-contact > div {
    padding-left: 34px;
    padding-right: 34px;
    box-sizing: border-box;
}

input,
textarea,
button {
    display: block;
}

input,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    resize: none;
}

*::placeholder {
}

input:focus::placeholder, textarea:focus::placeholder{
    color: transparent;
}

/* Ensures autofill looks okay */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--text-color) !important;
}

::-webkit-input-placeholder { color: var(--text-color); } /* Edge */
:-ms-input-placeholder { color: var(--text-color); } /* Internet Explorer 10-11 */
::placeholder { color: var(--text-color); }
.tm-right { margin-right: 0; margin-left: auto; }

.tm-btn-submit {
    background: none;
    color: var(--text-color);
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-btn-submit:hover { color: var(--text-color); }

.tm-flex { display: flex; }
address { font-style: normal; }

.filters-button-group {
    text-align: right;
    padding: 0;
    margin: 0;
}

.filters-button-group li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.filters-button-group li a.active { color: #F96699; }
.tm-gallery { margin: -10px; }

.tm-gallery-item {
    border-radius: 12px;
    margin: 10px;
    overflow: hidden;
    display: block;
    line-height: 0;
}

.img-lg img {
    height: 500px;
}

.img-md img {
    height: 300px;
}

.img-sq img {
    height: 300px;
}

.img-sm img {
    height: 250px;
}

.divider img {
    width: auto;
}

@media (max-width: 940px) {
    .filters-button-group { text-align: left; }
}

@media (max-width: 680px) {
    .tm-contact { flex-direction: column; }

    .tm-contact-form-container,
    .tm-contact-info,
    .tm-contact-header {
        width: 100%;
    }

    .tm-contact-form-container { margin-bottom: 20px; }
    .tm-contact-info { margin-bottom: 30px; }
}

@media (max-width: 545px) {
    .tm-about { flex-direction: column; }
    .tm-login { flex-direction: column; }
}

@media (max-width: 489px) {
    .tm-gallery-item img {
        width: 100%;
        height: auto;
    }
}

.tm-p-50 { padding: 50px; }
.tm-p-l-r-50 { padding-left: 50px; padding-right: 50px; }
.tm-mb-0 { margin-bottom: 0; }
.tm-mb-30 { margin-bottom: 30px }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-bgcolor-1 { background-color: #800020; }
.tm-bgcolor-2 { background-color: #DD9A87; }
.tm-bgcolor-3 { background-color: #99CCCC; }
.tm-bgcolor-4 { background-color: #FFFFFF; }
.tm-border-rounded { border-radius: 15px; }

.list {
    list-style:none;
    padding:0;
    margin:0;
}

.message-box {
    height: 150px;
}

.fade-in {
    animation: fade 1.6s ease-in;
    animation-fill-mode : forwards;
}

.fade-out {
    animation: fade 0.9s ease-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

*:focus {
    outline: none;
}
