@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

:root {
    --text-color: #fdf5ee;
    --background-color: #3f4650;
}

html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Unna', serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
    background-color: var(--background-color);
}

a {
    transition: all 0.4s ease;
    color: var(--text-color);
}

a:hover { color: #d9dffa; }

h1, h2, p, i, address, .text { color: var(--text-color); }

.container-fluid {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}

.site-header { height: 470px; }

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-solid {
    color: var(--text-color);
    border-style: solid;
}

.text-align-center {
    text-align: center;
}

.section,
.contact {
    display: flex;
}

.contact { flex-direction: row-reverse; }
.section > div { flex: 1 1; }

.contact-form-container {
    width: 100%;
}

.contact {
    padding: 20px;
}

input,
textarea,
button {
    display: block;
}

input,
textarea {
    font-family: 'Unna', serif;
    font-size: 1rem;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    resize: none;
}

form > label {
    padding-left: 10px;
}

*::placeholder {
}

input:focus::placeholder, textarea:focus::placeholder{
    color: transparent;
}

/* Ensures autofill looks okay */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--text-color) !important;
}

::-webkit-input-placeholder { color: var(--text-color); } /* Edge */
:-ms-input-placeholder { color: var(--text-color); } /* Internet Explorer 10-11 */
::placeholder { color: var(--text-color); }
.right { margin-right: 0; margin-left: auto; }

.btn-submit {
    background: none;
    color: var(--text-color);
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover { color: var(--text-color); }

address { font-style: normal; }

.gallery { margin: -10px; }

.gallery-item {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    margin: 10px;
    overflow: hidden;
    display: block;
    line-height: 0;
}

.img-lg img {
    height: 500px;
}

.img-md img {
    height: 280px;
}

@media (max-width: 680px) {
    .contact { flex-direction: column; }

    .contact-form-container,
    .contact-info,
    .contact-header {
        width: 100%;
    }

    .contact-form-container { margin-bottom: 20px; }
    .contact-info { margin-bottom: 30px; }
}

@media (min-width: 545px) {
    .gallery img {
        max-height: 600px !important;
    }

    .password-form {
        width: 50%;
    }
}

@media (max-width: 545px) {
    .section { flex-direction: column; }
    .gallery img {
        max-height: 270px !important;
    }

    .password-form {
        width: 100%;
    }
}

@media (max-width: 489px) {
    .gallery-item img {
        width: 100%;
        height: auto;
    }
}

.p-50 { padding: 50px; }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.border-rounded { border-radius: 15px; }

.list {
    list-style:none;
    padding:0;
    margin:0;
    text-align: center;
}

.message-box {
    height: 150px;
    border: 1px solid var(--text-color);
}

.fade-in {
    animation: fade 1.6s ease-in;
    animation-fill-mode : forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

*:focus {
    outline: none;
}

.logo {
    height: 550px;
}

.underlined {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.no-margin {
    margin: 0;
}

.scroll-in {
    opacity: 0;
    transform: translateY(30%);
    transition: all 1s ease-out;
}

.active {
    opacity: 4;
    transform: translateY(0);
}
